$primary: #3d5afe;
$secondary: #9aa0fe;


@mixin shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body {
    padding: 0;
    background: #1e2124;
    font-family: 'Whitney';
    color: #FFF;
}
#app-root {
    .top-bar {
        display: flex;
        .count {
            padding: 4px;
            margin: 4px;
        }
        .search-container {
            padding: 4px 0;
            input {
                padding: 4px 0;
                margin: 4px 0;
                color: #FFF;
                background: none;
                border: none;
                border-bottom: 1px solid #7289da;
                outline: none;
            }
        }
    }
    .command-list {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        .item {
            margin: 8px;
            padding: 8px;
            border-radius: 3px;
            @include shadow-1();
            background: #36393e;
            display: flex;
            justify-content: space-between;
            .settings-container {
                text-align: right;
                display: flex;
                flex-direction: column;
                .count {
                    padding: 4px 0;
                }
                .volume {
                    padding: 4px 0;
                }
                .download {
                    padding: 4px 0 0 0;
                    a {
                        color: #7289da;
                    }
                }
            }
            .info-container {
                display: flex;
                flex-direction: column;
                &> .name {
                    padding: 4px 0;
                }
                .timestamp {
                    padding: 4px 0;
                }
                .added-by-container {
                    padding: 4px 0;
                    display: flex;
                    .text {
                        margin-right: 4px;
                    }
                }
                .user-container {
                    display: flex;
                    .name {
                        margin-right: 4px;
                    }
                    img {
                        border-radius: 100%;
                        width: 24px;
                    }
                }
            }
        }
    }
}